[push]
    default = simple

[user]
    email = samuel@swalladge.id.au
    name = Samuel Walladge

[commit]
	gpgsign = true
[core]
	excludesfile = {{ grains['HOME'] }}/.gitignore
[merge]
	tool = vimdiff
